@use "../partials/variables" as var;
@use "../partials/mixins" as mix;

// ============================================================
// thanks
// ============================================================

.thanks {
  &__title {
    margin-bottom: 4rem;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  
  &__description {
    width: fit-content;
    margin: 0 auto 4rem;
  }
}

@media screen and (max-width: var.$tabletPortrait) {

}