@use "../partials/variables" as var;
@use "../partials/mixins" as mix;

// ============================================================
// toppage
// ============================================================

/* main visual */

.main-visual {
  position: sticky;
  top: 10rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 10rem);
  height: calc(100dvh - 10rem);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  &-title {
    position: absolute;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
    
    p {
      line-height: 1;
      width: fit-content;
      padding: 2.4rem 3.2rem;
      background: var.$white;
      font-size: 4rem;
      font-weight: 900;
      letter-spacing: .15em;
    }
  }
  
  &-image {
    margin: 0 0 0 auto;
    width: 90%;
    height: 100%;
    position: relative;
    border-radius: 3.2rem 0 0 0;
    overflow: hidden;
    
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &-scroll {
    position: absolute;
    left: 2.8rem;
    bottom: 1rem;
    height: 5rem;
    
    span {
      position: absolute;
      left: -.5rem;
      top: -5.2rem;
      color: var.$white;
      font-size: 1.2rem;
      line-height: 1;
      letter-spacing: .12rem;
      writing-mode: vertical-lr;
    }
    
    &::after {
      content: "";
      width: min(.1rem, 1px);
      height: 3rem;
      position: absolute;
      top: 0;
      background: var.$white;
      animation: pathmove 1.4s ease-in-out infinite;
      opacity: 0;
    }
    
    @keyframes pathmove {
      0% {
        height: 0;
        top: 0;
        opacity: 0;
      }
      30% {
        height: 3rem;
        opacity: 1;
      }
      100% {
        height: 0;
        top: 5rem;
        opacity: 0;
      }
    }
  }
}

/* news */

.top-news {
  &__inner {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 0 4rem;
  }
  
  &__head {
    width: 38rem;
    display: flex;
    flex-flow: column;
    gap: 1.2rem 0;
    justify-content: center;
    align-items: center;
    
    &-title {
      display: flex;
      flex-flow: column;
      align-items: center;
      font-size: 2.8rem;
      font-weight: 700;
      
      span {
        font-size: 1.2rem;
      }
    }
  }
  
  &__content {
    width: calc(100% - 38rem - 4rem);
  }
}

/* result */

.top-result {
  padding-bottom: 12rem;
  position: relative;
  
  &:before {
    content: "";
    width: 90%;
    height: 100%;
    background: var.$brand-color;
    border-radius: 0 3.2rem 3.2rem 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &__inner {
    position: relative;
  }
  
  &__content {
    margin-bottom: 4rem;
    
    .FeedLayout__wrapper {
      padding: 4rem !important;
      border-radius: 3.6rem 0 0 3.6rem;
    }
  }
  
  &__spacer {
    content: "";
    display: block;
    width: 100%;
    height: 8rem;
    background: var.$white;
    position: relative;
  }
}

@media screen and (min-width: var.$pcWindow) {
  .main-visual {
    &-title {
      p {
        padding: 2.8rem 3.6rem;
        font-size: 5.6rem;
      }
    }
  }
}

@media screen and (max-width: var.$tabletMiddleSize) {
  .main-visual {
    top: 8rem;
    height: calc(100vh - 8rem);
    height: calc(100dvh - 8rem);
    
    &-title {
      p {
        font-size: 3.2rem;
      }
    }
  }
}

@media screen and (max-width: var.$pcMiddleWindow) {
  .top-news {
    &__head {
      width: 20rem;
    }
    
    &__content {
      width: calc(100% - 20rem - 4rem);
    }
  }
}

@media screen and (max-width: var.$tabletPortrait) {
  
  .main-visual {
    top: 6.4rem;
    height: calc(100vh - 6.4rem);
    height: calc(100svh - 6.4rem);
    
    &-title {
      p {
        margin-top: -1px;
        padding: 1.2rem 1.6rem;
        font-size: 2.6rem;
      }
    }
    
    &-image {
      border-radius: 2.4rem 0 0 0;
    }
  }
  
  .top-news {
    &__head {
      width: 100%;
    }
    
    &__content {
      width: 100%;
    }
  }
  
  .top-result {
    .top-heading01 {
      padding-right: 1.4rem;
    }
    
    &:before {
      width: 95%;
      border-radius: 0 2.4rem 2.4rem 0;
    }
    
    &__content {
      .spotlight-instagram-feed {
      
      }
      
      .FeedLayout__wrapper {
        padding: 2.8rem .8rem 2.8rem 2.8rem !important;
        border-radius: 2.4rem 0 0 2.4rem;
      }
    }
  }
}

