/* Global Variable */
:root {
  --screen-height: 100vh;
}

/* window size */
$pcWindow: 1440px;
$tabletMiddleSize: 1080px;
$tabletLandscape: 1024px;
$pcMiddleWindow: 900px;
$tabletPortrait: 768px;
$iPhonePlus-LS: 736px;
$iPhone-LS: 667px;
$iPhoneSE-LS: 568px;
$tablet-min: 415px;
$iPhonePlus: 414px;
$iPhone: 375px;

/* Fonts */
$fontFamilyDefault: 'inter', 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

/* Color */
$white: #fff;
$gray25: #fafafa;
$gray50: #f5f5f5;
$gray100: #f0f0f0;
$gray200: #e6e6e6;
$gray300: #c8c8c8;
$gray400: #a0a0a0;
$gray500: #6e6e6e;
$gray600: #464646;
$gray700: #323232;
$gray800: #141414;

$black-natural: $gray800;
$black: #000;
$red: #B03636;
$yellow: #FFF100;
$yellow90: rgba(255, 241, 0, 0.9);
$yellow85: rgba(255, 241, 0, 0.85);
$yellow: #FFF100;
$orange: #F7B52E;
$deep-pink: #F191BA;
$pink: #EFA6C5;
$lime-green: #A3E415;
$deep-blue: #6268b2;
$light-blue: #72C7FC;
$font-color: #1d1d1f;
$link-color: #455f7e;
$bg-black: #1C1C1C;

$brand-color: #455f7e;
