@use "../partials/variables" as var;
@use "../partials/mixins" as mix;

// ============================================================
// button
// ============================================================
@mixin buttonGroupInit {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
}

.button-group {
  @include buttonGroupInit;
  justify-content: center;
  
  &-right {
    @include buttonGroupInit;
    justify-content: flex-end;
  }
}

.button01 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0 1rem;
  position: relative;
  
  &::before {
    content: "";
    display: block;
    width: 0;
    height: min(.1rem, 1px);
    background: var.$font-color;
    position: absolute;
    bottom: 0;
    left: 0;
    @include mix.transitionDuration();
  }
  
  &::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: url("../img/common/icon-arrow-down.svg") no-repeat center center;
    background-size: contain;
    transform: rotate(-90deg);
    @include mix.transitionDuration();
  }
  
  &.is-white {
    color: var.$white;
    
    &::before {
      background: var.$white;
    }
    
    &::after {
      background: url("../img/common/icon-arrow-down_white.svg") no-repeat center center;
      background-size: contain;
    }
    
  }
  
  @media (hover: hover) {
    &:hover {
      &::before {
        width: calc(100% + .8rem);
      }
      
      &::after {
        transform: rotate(-90deg) translate(0,.4rem);
      }
    }
  }
}

.button02 {
  min-width: 28rem;
  padding: .8rem 1.6rem;
  background: var.$brand-color;
  border: .2rem solid var.$brand-color;
  color: var.$white;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  position: relative;
  @include mix.transitionDuration();
  
  &::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: url("../img/common/icon-arrow-down_white.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translate(0,-50%) rotate(-90deg);
    @include mix.transitionDuration();
  }
  
  @media (hover: hover) {
    &:hover {
      color: var.$brand-color;
      background: var.$white;
      
      &::after {
        right: 1rem;
      }
    }
  }
}

.button03 {
  max-width: 28rem;
  flex: 1;
  padding: 1.2rem;
  background: var.$brand-color;
  border-radius: 99rem;
  color: var.$white;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  position: relative;
  @include mix.transitionDuration();
  
  &::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: url("../img/common/icon-arrow-down_white.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translate(0,-50%) rotate(-90deg);
    opacity: 1;
    @include mix.transitionDuration();
  }
  
  svg {
    width: 2.4rem;
    height: auto;
    object-fit: contain;
  }
  
  &.is-tel {
    background: #ff994a;
  }
  
  &.is-line {
    background: #06C755;
  }
  
  @media (hover: hover) {
    &:hover {
      opacity: .6;
      
      &::after {
        right: 1rem;
      }
    }
  }
}