@use "../partials/variables" as var;
@use "../partials/mixins" as mix;

// ============================================================
// heading
// ============================================================

.top-heading01 {
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var.$white;
  font-size: 2.8rem;
  font-weight: 700;
  
  span {
    font-size: 1.2rem;
  }
  
  &::after {
    margin-top: 2rem;
    content: "";
    display: block;
    width: min(.1rem, 1px);
    height: 2rem;
    background: var.$white;
  }

}