@use "../partials/variables" as var;
@use "../partials/mixins" as mix;

// ============================================================
// news list
// ============================================================

.news-list {
  margin-bottom: 4rem;
  width: 100%;
  
  li {
    border-bottom: min(.1rem, 1px) solid var.$gray200;
    
    a {
      padding: 2.4rem 1.2rem;
      display: flex;
      flex-flow: row wrap;
      gap: 1.2rem 1.6rem;
      @include mix.hoverOpacity();
    }
  }
}

