@use "../partials/variables" as var;
@use "../partials/mixins" as mix;

// ============================================================
// post content
// ============================================================

.post-content {
  display: flex;
  flex-flow: column;
  gap: 4rem 0;
  font-size: 1.5rem;
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  
  h1, h2 {
    padding: .4rem 1.6rem;
    background: var.$brand-color;
    color: var.$white;
    font-size: 2.4rem;
  }
  
  h3 {
    padding: 0 .4rem;
    border-bottom: .3rem solid var.$brand-color;
    font-size: 2rem;
  }
  
  h4, h5, h6 {
    font-size: 1.8rem;
  }
  
  p {
    margin-bottom: 2rem;
  }
  
  figure {
    img {
      width: 100%;
      height: auto;
    }
    
    figcaption {
      color: var.$gray400;
      font-weight: 400;
      font-size: 1.3rem;
    }
  }
  
  ul {
    li {
      padding: .4rem 0 .4rem 1.8rem;
      position: relative;
      
      &::before {
        content: "";
        display: block;
        background: var.$font-color;
        width: .4rem;
        height: .4rem;
        border-radius: 50%;
        position: absolute;
        top: 1.6rem;
        left: .2rem;
      }
    }
  }
  
  ol {
    counter-reset: number;
    
    li {
      padding: .4rem 0 .4rem 1.8rem;
      position: relative;
      
      &::before {
        counter-increment: number;
        content: counter(number) '.';
        display: block;
        border-radius: 50%;
        position: absolute;
        top: .4rem;
        left: 0;
      }
    }
  }
  
  a {
    color: var.$link-color;
    text-decoration: underline;
    @include mix.hoverOpacity();
  }
  
  strong {
    font-weight: 700;
  }
  
  em {
    font-style: italic;
  }
  
  blockquote {
    padding: 2.8rem;
    background: var.$gray50;
    
    p {
      margin: 0;
    }
    
    cite {
      display: block;
      margin-top: 2rem;
      color: var.$gray500;
      font-weight: 300;
      font-size: 1.3rem;
    }
  }
  
  .wp-block-buttons {
    gap: 2rem;
  }
  
  .wp-block-button {
    &__link {
      max-width: 28rem;
      min-width: 28rem;
      flex: 1;
      padding: 1.6rem;
      background: var.$brand-color;
      border-radius: 99rem;
      color: var.$white;
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: .04em;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;
      position: relative;
      text-decoration: none;
      @include mix.transitionDuration();
      
      &::after {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        background: url("../img/common/icon-arrow-down_white.svg") no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 1.6rem;
        transform: translate(0, -50%) rotate(-90deg);
        opacity: 1;
        @include mix.transitionDuration();
      }
      
      svg {
        width: 2.4rem;
        height: auto;
        object-fit: contain;
      }
      
      @media (hover: hover) {
        &:hover {
          opacity: .6;
          
          &::after {
            right: 1rem;
          }
        }
      }
    }
  }
}