@use '../partials/variables' as var;
@use '../partials/functions' as func;
@use '../partials/fontSet' as font;
@use '../partials/mixin' as mx;

// base font size: 1rem = 10px

html {
  font-size: 2.667vw;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  margin-top: 10rem;
  text-align: justify;
  @include font.fontBase--sp();
}

@media screen and (max-width:var.$tabletMiddleSize) {
  body {
    margin-top: 8rem;
  }
}

@media screen and (max-width:var.$pcMiddleWindow) {
  body {
    margin-top: 6.4rem;
  }
}

a {
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

button {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=telephone],
input[type=tel],
input[type=number],
textarea {
  font-family: var.$fontFamilyDefault;
}

table {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: var.$tabletPortrait) {
  html {
    font-size: 10px;
    scroll-padding-top: 8rem;
  }
  
  body {
    color: var.$font-color;
    @include font.fontBase();
  }
}
